<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RC Controller</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            :root {
                --background-color-dark: #343a40;
                --text-color-dark: #ffffff;
                --background-color-light: #ffffff;
                --text-color-light: #000000;
            }
            body.dark-mode {
                background-color: var(--background-color-dark);
                color: var(--text-color-dark);
            }
            body.light-mode {
                background-color: var(--background-color-light);
                color: var(--text-color-light);
            }
			.responsive-img {
				width: 100%;
				height: auto;
				max-width: 640px;
			}
        </style>
	</head>
	<body class="dark-mode">
		<div style="max-width: 640px;" class="container">
			<div class="mt-5 d-flex justify-content-between align-items-center">
				<h1>RC Car Controller</h1>
				<button id="theme-toggle" class="btn btn-secondary">
					<i class="fas fa-sun"></i> <!-- Moon icon for dark mode -->
				</button>
			</div>
			
			<!-- Control Button Area -->
			<div class="input-group mt-5 d-flex justify-content-between">
				<div class="d-flex ">
					<input type="text" class="form-control" placeholder="Enter coordinates x,y" id="coords" />
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="start-btn">Start</button>
					</div>
				</div>
				<button class="btn btn-primary" id="status-btn">Status</button>
			</div>
			<div class="input-group mb-3 mt-3 d-flex justify-content-between">
				<button class="btn btn-primary" id="pause-btn">Pause</button>
				<button class="btn btn-success" id="resume-btn">Resume</button>
				<button class="btn btn-warning" id="reset-btn">Reset</button>
				<button class="btn btn-danger" id="shutdown-btn">Shutdown</button>
			</div>
			
			<!-- Message Display Area -->
			<div id="message-box" class="alert mt-3" style="display: none"></div>

			<div class="mt-5">
				<div class="d-flex align-items-center justify-content-between">
					<h2>Camera Stream</h2>
					<button class="btn btn-primary ml-3" id="toggleButton">
						<i class="fas fa-play"></i> <!-- This is the Play icon -->
					</button>
					<button class="btn btn-info ml-2" id="streamToggle">
						<i class="fas fa-eye"></i> <!-- Icon representing the color stream -->
					</button>
				</div>
				<div class="mt-3">
					<img id="stream" class="responsive-img" src="">
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$("#start-btn").click(function () {
					var coords = $("#coords").val();
					$.get("/start?coords=" + coords, function (data) {
						displayMessage("success", data.message);
					}).fail(function (response) {
						displayMessage("danger", response.responseJSON.error);
					});
				});
				$("#status-btn").click(function () {
					$.get("/status", function (data) {
						displayMessage("success", data.message);
					}).fail(function (response) {
						displayMessage("danger", response.responseJSON.error);
					});
				});
				$("#pause-btn").click(function () {
					$.get("/pause", function (data) {
						displayMessage("success", data.message);
					}).fail(function (response) {
						displayMessage("danger", response.responseJSON.error);
					});
				});
				$("#resume-btn").click(function () {
					$.get("/resume", function (data) {
						displayMessage("success", data.message);
					}).fail(function (response) {
						displayMessage("danger", response.responseJSON.error);
					});
				});
                $("#reset-btn").click(function () {
					// Turn stream off
					var img = document.getElementById('stream');
					var btn = document.getElementById('toggleButton');
					var icon = btn.querySelector('i'); // Get the icon within the button
					img.removeAttribute('src'); // A more explicit way to remove the src
					icon.classList.remove('fa-stop');
					icon.classList.add('fa-play'); // Switch back to the Play icon
					
					$.get("/reset", function (data) {
						displayMessage("success", data.message);
					}).fail(function (response) {
						displayMessage("danger", response.responseJSON.error);
					});
				});
				$("#shutdown-btn").click(function () {
					$.post("/shutdown", {}, function (data) {
						displayMessage("success", data.message);
					}).fail(function (response) {
						displayMessage("danger", response.responseJSON.error);
					});
				});

				$("#theme-toggle").click(function () {
					$("body").toggleClass("dark-mode light-mode");
					var icon = $(this).find('i'); // Find the icon within the button

					// Check the current theme mode and switch the icon accordingly
					if ($("body").hasClass("dark-mode")) {
						icon.removeClass('fa-moon');
						icon.addClass('fa-sun'); // Switch to sun icon for light mode
					} else {
						icon.removeClass('fa-sun');
						icon.addClass('fa-moon'); // Switch to moon icon for dark mode
					}
				});


				// Set the default theme to dark mode
				if (!$("body").hasClass("dark-mode")) {
					$("body").addClass("dark-mode");
				}

				function displayMessage(type, message) {
					var messageBox = $("#message-box");
					messageBox.removeClass("alert-success alert-danger");
					messageBox.addClass("alert-" + type);
					messageBox.text(message);
					messageBox.show();
				}

				// Initial stream type
				var currentStreamType = 'color'; // Possible values: 'color', 'depth'

				// Event listener for the new toggle button
				$("#streamToggle").click(function () {
					// Toggle the currentStreamType value
					currentStreamType = currentStreamType === 'color' ? 'depth' : 'color';

					// Get the icon within the toggle button
					var icon = $("#streamToggle").find('i');

					// Update the icon based on the currentStreamType
					if (currentStreamType === 'color') {
						icon.removeClass('fa-low-vision').addClass('fa-eye'); // Switch to color stream icon
					} else {
						icon.removeClass('fa-eye').addClass('fa-low-vision'); // Switch to depth stream icon
					}

					// Update the stream source if it's currently playing
					var img = document.getElementById('stream');
					var btn = document.getElementById('toggleButton');
					var playStopIcon = btn.querySelector('i');

					// Check if the stream is currently active
					if (img.src.includes('/video_feed')) {
						// Update the stream source based on the new stream type
						var newSrc = currentStreamType === 'color' ? "/video_feed_color_image" : "/video_feed_depth_colormap";
						img.src = newSrc;
						
						// Ensure the play/stop icon is correctly set
						if (!playStopIcon.classList.contains('fa-stop')) {
							playStopIcon.classList.remove('fa-play');
							playStopIcon.classList.add('fa-stop');
						}
					}
				});

				// Modify the existing toggleStream function to accommodate the change in stream type
				$("#toggleButton").click(function () {
					var img = document.getElementById('stream');
					var icon = this.querySelector('i'); // Use 'this' to refer to the button directly

					// Determine the correct stream endpoint based on the currentStreamType
					var streamEndpoint = currentStreamType === 'color' ? "/video_feed_color_image" : "/video_feed_depth_colormap";

					// Toggle the stream as before, but use the determined endpoint
					if (!img.src.includes(streamEndpoint)) {
						img.src = streamEndpoint; // Start the stream with the correct endpoint
						icon.classList.remove('fa-play');
						icon.classList.add('fa-stop');
					} else {
						img.removeAttribute('src'); // Stop the stream
						icon.classList.remove('fa-stop');
						icon.classList.add('fa-play');
					}
				});
			});
		</script>
	</body>
</html>
